In [2]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#loading the data Set
credit_card_data=pd.read_csv("creditcard.csv")

In [5]:
credit_card_data.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
169973,119953.0,2.257882,-0.518901,-2.345466,-0.933637,0.069128,-1.626668,0.302041,-0.490754,-1.149621,...,0.521818,1.538405,-0.201919,0.090304,0.673796,0.285374,-0.101388,-0.107036,1.79,0
280324,169454.0,-0.138223,1.060820,-0.869904,-0.024213,0.284848,-1.488088,0.618519,0.165717,-0.114464,...,0.351146,0.903999,-0.096979,-0.059124,-0.399556,-0.154500,0.009107,0.054098,23.83,0
49034,43883.0,-1.952388,-1.144988,2.059280,0.876253,1.825770,-2.062921,-0.793376,0.108856,-0.522051,...,-0.035247,-0.786391,0.250228,0.362296,0.110028,0.230271,-0.049113,0.114116,0.89,0
273186,165466.0,-1.378700,-2.664125,0.827916,-0.899675,1.421301,-2.245655,-1.073070,-0.102632,-0.265255,...,0.443199,0.603164,0.535379,-0.012121,-0.848655,-0.286172,-0.056516,0.041336,75.00,0
136875,81913.0,1.099537,-0.544182,1.075066,0.297722,-1.261830,-0.367082,-0.580194,0.043150,1.209178,...,-0.199597,-0.448836,0.030373,0.473443,0.112718,0.936182,-0.045119,0.024355,66.41,0

In [6]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
#distribution of normal and fraud transactions
credit_card_data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [29]:
credit_card_data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [10]:
# 0 is normal
#1 is fraud 
#It is highly ustable data

In [17]:
normal=credit_card_data[credit_card_data["Class"]==0]
fraud=credit_card_data[credit_card_data["Class"]==1]

In [19]:
#measures of the data
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [20]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
#building a sample dataset has similar distribution of normal and fraud transactions
normal_sample=normal.sample(n=492)

In [23]:
#concatenating two DataFrames
new_dataset=pd.concat([normal_sample,fraud],axis=0)

In [24]:
new_dataset.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
181941,125190.0,2.043409,0.039220,-3.097349,0.105986,2.987170,3.110791,0.059939,0.630035,-0.224507,...,0.037108,0.083290,0.104256,0.682411,0.365204,-0.573339,-0.004332,-0.064513,5.60,0
9215,13224.0,1.012595,0.185411,1.857002,2.625675,-0.813686,0.741198,-1.050510,0.411449,1.078229,...,0.167722,0.665253,0.034227,0.149377,0.061452,0.073725,0.024623,0.023365,12.16,0
265475,161902.0,1.747188,0.097227,0.244539,3.905448,-0.335535,0.456674,-0.509630,0.171281,-0.289651,...,0.222001,0.593545,0.223073,1.122364,-0.288524,-0.035626,0.001617,-0.011113,58.40,0
65473,51600.0,1.206216,-0.063051,0.006796,0.131604,-0.524893,-1.338363,0.274921,-0.239472,0.165849,...,-0.432931,-1.487215,0.185725,0.365238,0.029194,0.622168,-0.120491,0.008790,55.48,0
219554,141771.0,-0.432092,1.728324,-1.554366,-0.275095,1.015253,-1.449432,0.782078,0.081230,-0.190545,...,0.232671,0.558610,-0.314745,-0.640830,0.035998,-0.171664,-0.303062,0.032890,1.00,0

In [27]:
new_dataset["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [28]:
new_dataset.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95141.953252,0.064733,-0.093540,-0.107030,-0.029148,0.043322,0.045303,0.075923,0.003956,0.055203,...,-0.008439,0.009124,0.020308,-0.029899,0.057959,-0.025326,0.015697,-0.023044,0.003358,99.586159
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [30]:
#spliting the data
X=new_dataset.drop(columns="Class",axis=1)
y=new_dataset["Class"]

In [31]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
181941,125190.0,2.043409,0.039220,-3.097349,0.105986,2.987170,3.110791,0.059939,0.630035,-0.224507,...,-0.203323,0.037108,0.083290,0.104256,0.682411,0.365204,-0.573339,-0.004332,-0.064513,5.60
9215,13224.0,1.012595,0.185411,1.857002,2.625675,-0.813686,0.741198,-1.050510,0.411449,1.078229,...,-0.240469,0.167722,0.665253,0.034227,0.149377,0.061452,0.073725,0.024623,0.023365,12.16
265475,161902.0,1.747188,0.097227,0.244539,3.905448,-0.335535,0.456674,-0.509630,0.171281,-0.289651,...,-0.161307,0.222001,0.593545,0.223073,1.122364,-0.288524,-0.035626,0.001617,-0.011113,58.40
65473,51600.0,1.206216,-0.063051,0.006796,0.131604,-0.524893,-1.338363,0.274921,-0.239472,0.165849,...,-0.077442,-0.432931,-1.487215,0.185725,0.365238,0.029194,0.622168,-0.120491,0.008790,55.48
219554,141771.0,-0.432092,1.728324,-1.554366,-0.275095,1.015253,-1.449432,0.782078,0.081230,-0.190545,...,-0.243005,0.232671,0.558610,-0.314745,-0.640830,0.035998,-0.171664,-0.303062,0.032890,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [32]:
y

181941    0
9215      0
265475    0
65473     0
219554    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [33]:
#Dividing into train and test

In [34]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [35]:
#Model Training

In [36]:
model=LogisticRegression()

In [37]:
#training the model

In [38]:
model.fit(X_train,y_train)

LogisticRegression()

In [39]:
#Model Evaluation

In [42]:
#Accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,y_train)

In [43]:
training_data_accuracy

0.928843710292249

In [45]:
#accuracy on test data
x_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [46]:
test_data_accuracy

0.8934010152284264